<div class='top-page'>
  <h1>Presto Fresco</h1>
    <div class='top-right'>
      <h4 class="mr-2">Back</h4>
      <%= link_to edit_table_order_path(@order.table, @order), class: "btn-plus", data: { turbolinks: 'false' } do %>
        <i class="fas fa-angle-left"></i>
      <% end %>
      </a>
  </div>
</div>


<div class='summarycontainer'>
  <div class='summarycontent'>
    <div class='ordersummary'>
      <h2>Summary</h2>
      <h3>0rder: #<%= @order.id %> </h3>
    </div>
    <h4>Table <%= @order.table_id %></h4>
    <% x = 0 %>
    <div class='row textsize'>
      <div class='col-6 orderborder'>
        <h5>ARTICLES</h5>
        <% @dishes.select('name').group('name').sum('price_cents').each do |dish| %>
          <div>
            <%= truncate(dish[0], length: 17)%>
          </div>
        <% end %>
      </div>
      <div class='col-3 orderborder text-center'>
        <h5>QTY</h5>
        <% @order.order_dishes.select('dish_id').group('dish_id').count.each do |order| %>
          <div>
            <%= order[1] %>
          </div>
        <% end %>
      </div>
      <div class='col-3 text-center' >
        <h5>Price</h5>
        <% @dishes.select('id, price_cents').group('name').sum('price_cents').each do |dish| %>
          <div>
            <%= humanized_money(Money.new(dish[1])) %>€
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='summaryprice'>
      <div><h2>Total:</h2></div>
      <div><h2><%= humanized_money(@menu_test) %> €</h2></div>
  </div>
</div>

<div class='btnorder'>
      <button id="pay" class="btn btn-primary" style='background-color: #0087D3; font-family: ;font-weight: 500; width: 110px; height: 35px; border-radius: 7px;'>PAY</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
</div>
