<p>Your dishes</p>
<div>Table: <%= @order.table_id %> </div>
<div>Numéro de commande: <%= @order.id %> </div>
<% x = 0 %>
<div style="display: flex; margin: 10px" >
  <div style="margin-right: 10px" >
    <% @order.order_dishes.select('dish_id').group('dish_id').count.each do |order| %>
      <div>
        <%= order[1] %>
      </div>
    <% end %>
  </div>
  <div>
    <% @dishes.select('id, name, price').group('name').sum('price').each do |dish| %>
      <div>
        <%= dish[0]  %> <%= dish[1]  %>
      </div>
    <% end %>
  </div>
</div>
  <div>
    Total: <%= @dishes.select('id, name, price').sum('price') %> €
  </div>

<%= link_to "Continue my order", new_restaurant_table_order_path %>

<%= link_to "Pay", restaurant_table_order_path %>
