<div>Table: <%= @order.table_id %> </div>
<div>Numéro de commande: <%= @order.id %> </div>

<div>
  <% @dishes.select('id, name, price').group('name').sum('price').each do |dish| %>
    <div>
      <% i = 0 while dish != nil do i + 1  end%>
        <%= i %> <%= dish[0]  %> <%= dish[1]  %>
      <% end %>
    </div>
  <% end %>
</div>
