<input type="search" class='searchbar' placeholder="Search">

<div class='top-page'>
  <h1><%= @restaurant.name%></h1>
</div>

<%= simple_form_for [@table, @order] do |f| %>
  <% @menu.categories.each do |category| %>
    <div class='category-title'>
      <h2><%= category.name %></h2>
    </div>

    <div class="card-scroll">
      <div class='cards-container'>
          <% category.dishes.each do |dish| %>
        <div class='dishcard' data-controller="change-qty">
          <% if dish.photo.attached? %>
            <%= link_to restaurant_dish_path(@restaurant, dish) do %>
              <%= cl_image_tag dish.photo.key , :class => "dishimg" %>
            <% end %>
          <% end %>
            <div class="textcontainer">
              <h2><%= dish.name %></h2>
              <div class='priceandbutton d-flex flex-column'>
                <h3 style="display: flex; align-items: center"><%= format "%0.2f", dish.price %> €</h3>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <div class="btn-plus" data-action="click->change-qty#minus" style= "cursor: pointer;">-</div>
                    <%= simple_fields_for :order_dishes do |od| %>
                      <%= od.input(
                            dish.id,

                            readonly: true,
                            label: false,
                            wrapper_html: {style: "margin: 0;"},
                            input_html: {
                              value: @order.dishes.count { |e| e == dish },
                              style: "background-color: white; border-color: white ; color: black; width: 50px; text-align: center",
                              data: {target: "change-qty.input"}
                            }
                          ) %>
                    <% end %>
                  <div class="btn-plus" data-action="click->change-qty#plus" style= "cursor: pointer;">+</div>
                </div>
              </div>
          </div>
        </div>
            <% end %>
      </div>
    </div>
  <% end %>
  <div class="footer">
    <div class=" <%=  menu_edit? ? 'footerblue' : 'footergrey' %>">
      <%= link_to edit_table_order_path(@order.table, @order) do %>
        <i class="fas fa-book-open"></i>
      <% end %>
    </div>
    <h3>|</h3>
    <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
      <%= f.submit style: "border-color: white; background-color: #0087d3; color: white; width: 100%; margin-bottom: 50px" do %>
        <i class="fas fa-shopping-cart"></i>
      <% end %>
    </div>
  </div>

<% end %>

