<!-- <h1>Orders#new</h1>

<%= form_for ([ @restaurant, @table, @order ]) do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %> -->

<input type="search" class='searchbar' placeholder="Search">

<div class='top-page'>
  <h1>Presto Fresco</h1>
</div>

<div class='category-title'>
  <h2>Starters</h2>
</div>

<div class="card-scroll">
  <div class='cards-container'>
    <div class='dishcard'>
      <%= image_tag "tomatesmozza.jpg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Tomatoes & Mozarella</h2>
          <div class='priceandbutton'>
            <h3>7€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "bruschetta.jpg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Garlic bruschetta</h2>
          <div class='priceandbutton'>
            <h3>6€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "burrata-et-tomates-cerises.jpeg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Burrata & Cherry tomatoes</h2>
          <div class='priceandbutton'>
            <h3>8€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class='category-title'>
  <h2>Dishes</h2>
</div>

<div class="card-scroll">
  <div class='cards-container'>
    <div class='dishcard'>
      <%= image_tag "pennearrabiata", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Penne with Arrabiata sauce</h2>
          <div class='priceandbutton'>
            <h3>12€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "lasagnebolo.jpg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Lasagna Bolognese</h2>
          <div class='priceandbutton'>
            <h3>13€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "risottochampi.jpeg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Mushroom risotto</h2>
          <div class='priceandbutton'>
            <h3>12€00</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class='category-title'>
  <h2>Desserts</h2>
</div>

<div class="card-scroll">
  <div class='cards-container'>
    <div class='dishcard'>
      <%= image_tag "tiramisucafe.jpeg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Coffee Tiramisu</h2>
          <div class='priceandbutton'>
            <h3>7€00</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "pannacotta.jpg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Panna Cotta</h2>
          <div class='priceandbutton'>
            <h3>5€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "cannoli.jpg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Cannoli</h2>
          <div class='priceandbutton'>
            <h3>6€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class='category-title'>
  <h2>Drinks</h2>
</div>

<div class="card-scroll">
  <div class='cards-container'>
    <div class='dishcard'>
      <%= image_tag "beer.jpg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Beer</h2>
          <div class='priceandbutton'>
            <h3>3€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "soda.png", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Fruit soda</h2>
          <div class='priceandbutton'>
            <h3>2€00</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
    <div class='dishcard'>
      <%= image_tag "water.jpg", :class => "dishimg" %>
        <div class="textcontainer">
          <h2>Mineral water</h2>
          <div class='priceandbutton'>
            <h3>1€50</h3>
            <a class="btn-plus" href="#">+</a>
          </div>
      </div>
    </div>
  </div>

  
<div class="container">
  <h1>Welcome to <%= @restaurant.name%> </h1>
    <div><%= @menu.name %> </div>
    <%#= render "shared/newcat", menu: @menu %>
    <%= simple_form_for [@restaurant, @table, @order] do |f| %>
      <% @menu.categories.each do |category| %>
        <h4><%= category.name %></h4>
        <% category.dishes.each do |dish| %>
          <div>name: <%= dish.name %>  price: <%= dish.price %> </div>
          <%= simple_fields_for :order_dishes do |od| %>
            <%= od.input dish.id, label: dish.name %>
          <% end %> 
        <% end %>
      <% end %>
      <%= f.submit %>
    <% end %>
  
</div>
