<h1>Orders#new</h1>

<%= form_for ([ @restaurant, @table, @order ]) do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
