<input type="search" class='searchbar' placeholder="Search">

<div class='top-page'>
  <h1><%= @restaurant.name%></h1>
</div>

<%= simple_form_for [@restaurant, @table, @order] do |f| %>
  <% @menu.categories.each do |category| %>
<div class='category-title'>
  <h2><%= category.name %></h2>
</div>

<div class="card-scroll">
  <div class='cards-container'>
      <% category.dishes.each do |dish| %>
    <div class='dishcard'>
      <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key , :class => "dishimg" %>
      <% end %>
        <div class="textcontainer">
          <h2><%= dish.name %></h2>
          <div class='priceandbutton'>
            <h3><%= dish.price %>€</h3>
            <a class="btn-plus" href="">+</a>
          </div>
      </div>
    </div>
        <% end %>
  </div>
</div>
<% end %>
<% end %>
