<div class='top-page'>
  <h1>Presto Fresco</h1>
    <div class='top-right'>
      <h4 class="mr-2">Back</h4>
      <%= link_to session[:history].last do %>
        <p class="btn-plus"><i class="fas fa-angle-left"></i></p>
      <% end %>
  </div>
</div>


<div class='summarycontainer'>
  <div class='summarycontent'>
    <div class='ordersummary'>
      <h2>Summary</h2>
      <h3>0rder: #<%= @order.id %> </h3>
    </div>
    <h4  class='pb-4'>Table <%= @order.table_id %></h4>
    <table>
    <thead><tr>
    <th class='col-6'>ARTICLE</th>
    <th class='col-3'>QTY</th>
    <th class='col-3'>PRICE</th></tr>
    </thead>
    <tbody>
    <% @priced_order.each do |order| %>
    <tr>
      <td class='col-6 orderborder'><%= truncate(order[1], length: 15)%></td>
      <td class='col-3 orderborder'><%= order[0] %></td>
      <td class='col-3'><%= format "%0.2f", order[2] %></td>
    </tr>
    <% end %>
    </tbody>
    </table>

  </div>
  <div class='summaryprice'>
      <div><h2>Total:</h2></div>
      <div><h2><%= format "%0.2f", @totalprice %> €</h2></div>
  </div>
</div>

<div class='lastp text-center pt-4'>
<p>Thank you for you order ! We hope to see you soon !</p>
</div>
