
<div><h1>Thank you for your order!</h1></div>
<div><h2>Order n°<%= @order.id %></h2></div>
<div><h3>Receipt</h3></div>

<% @priced_order.each do |dish| %>
<ul>
<p><%= dish[0] %> x <%= dish[1] %> : <%= dish[2] %> €</p>

</ul>
<% end %>

<p>Total : <%= @totalprice %> €</p>
