<div class='top-page'>
  <h1>Presto Fresco</h1>
    <div class='top-right'>
      <h4 class="mr-2">Back</h4>
      <%= link_to session[:history].last do %>
        <p class="btn-plus"><i class="fas fa-angle-left"></i></p>
      <% end %>
  </div>
</div>

<div class='showcontainer'>
<% if @dish.photo.attached? %>
      <%= cl_image_tag @dish.photo.key , :class => "showimg" %>
      <% end %>
</div>

<div class='showtextcontainer'>
  <div class='showtitleprice'>
    <h2><%= @dish.name %></h2>
    <h2><%= @dish.price %>€</h2>
  </div>
  <p><%= @dish.ingredient %></p>
</div>

<div class='btnbottom'>
  <div class='btnqty'>
    <p class="btn-plus2" href="">-</p>
    <p>1</p>
    <p class="btn-plus2" href="">+</p>
  </div>
  <div class='btnadd'>
    <%= link_to "ADD", root_path%>
  </div>
</div>
