<div class='top-page'>
  <h1>Presto Fresco</h1>
    <div class='top-right'>
      <h4 class="mr-2">Back</h4>
      <%= link_to session[:history].last do %>
        <p class="btn-plus"><i class="fas fa-angle-left"></i></p>
      <% end %>
  </div>
</div>

<div class='showcontainer'>
<% if @dish.photo.attached? %>
      <%= cl_image_tag @dish.photo.key , :class => "showimg" %>
      <% end %>
</div>

<div class='showtextcontainer'>
  <div class='showtitleprice'>
    <h2><%= @dish.name %></h2>
    <h2><%= @dish.price %>€</h2>
  </div>
  <p><%= @dish.ingredient %></p>
</div>

<%= simple_form_for [@table, @order] do |f| %>
  <div class='btnbottom' data-controller="change-qty">
    <%= simple_fields_for :order_dishes do |od| %>
      <% @dishe_ids_with_quantity.each do |dish_id, dish_quantity| %>
        <% if dish_id != @dish.id %>
          <%# re-add the other dishes as hidden inputs %>
          <%= od.input dish_id, as: :hidden, input_html: { value: dish_quantity } %>
        <% else %>
          <%# dish already added, add - / + buttons %>
          <div class='btnqty'>
            <div class="btn-plus2" data-action="click->change-qty#minus" style= "cursor: pointer;">-</div>
            <%= od.input(
                  @dish.id,
                  readonly: true,
                  label: false,
                  wrapper_html: {style: "margin: 0;"},
                  input_html: {
                    value: @order.dishes.count { |e| e == @dish },
                    style: "background-color: white; border-color: white ; color: black; width: 50px; text-align: center",
                    data: {target: "change-qty.input"}
                  }
                ) %>
            <div class="btn-plus2" data-action="click->change-qty#plus" style= "cursor: pointer;">+</div>
          </div>
        <% end %>
      <% end %>

      <%# dish not already added, add - / + buttons %>
      <% unless @order.dish_ids.include?(@dish.id) %>
        <div class='btnqty'>
            <div class="btn-plus2" data-action="click->change-qty#minus" style= "cursor: pointer;">-</div>
            <%= od.input(
                  @dish.id,
                  readonly: true,
                  label: false,
                  wrapper_html: {style: "margin: 0;"},
                  input_html: {
                    value: 0,
                    style: "background-color: white; border-color: white ; color: black; width: 50px; text-align: center",
                    data: {target: "change-qty.input"}
                  }
                ) %>
            <div class="btn-plus2" data-action="click->change-qty#plus" style= "cursor: pointer;">+</div>
          </div>
      <% end %>
    <% end %>      
    
    <%= f.submit "ADD", class: "btnadd" %>
  </div>
<% end %>
